body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a, nav button {
    margin: 0 10px;
    cursor: pointer;
}

.game-item, .wishlist-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.component {
    margin-top: 20px;
}

/* src/App.css o un archivo CSS separado */
nav {
    background-color: #282c34;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    color: white;
    cursor: pointer;
  }
  
